[Desktop Entry]
Name=Dark-Aurorae
X-KDE-PluginInfo-Author=Bolimage
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL version 3
X-KDE-PluginInfo-Name=Dark-Aurorae
X-KDE-PluginInfo-Version=1.1
